{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart is e-commerce website made my Mr. Nischal Maharjan. This website was made while learning django.People can buy products online via digital payment.We are giving 25% discount for New customer.This e-commerse website provides you product of all around the world.We are not adding vendors right now,we are only selling the products from our import/export company.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Online Payment</h2>
        <p>Customers can now place order and pay the bills via digital payment. We accept Khalti and E-SEWA and also hand cash payment on delivery.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Head Office</h2>
        <p>Our headoffice is in kumaripati,Lalitpur near to the Honda Showroom.You can visit our headoffice for dealership,we give you the best price for you.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Job Vacancy</h2>
        <p>If you are interested to work in our company then you can visit our Head Office or you can just contact us directly through our website.We are announcing our vacancy for delivery boy , manager , marketing person.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
